/*
* Based on Open Props: brand.css
*
* Default values for brand specific props.
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300..700;1,300..700&display=swap");

:where(html) {
  --font-family-body: "Raleway", sans-serif;

  --brand-color: var(--blue-7);
  --brand-color-dim: var(--blue-8);
  --brand-color-bright: var(--blue-5);

  scrollbar-color: var(--scrollthumb-color) transparent;
  accent-color: var(--brand-color, var(--link-color));
  caret-color: var(--brand-color, var(--link-color));
  color: var(--text-color-1);
  background-color: var(--bg-color-body);
}
