/*
* Based on Open Props: brand.css
*
* Default values for brand specific props.
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300..700;1,300..700&display=swap");

:where(html) {
  --font-family-body: "Raleway", sans-serif;

  --brand-color: var(--blue-6);
  --brand-color-dim: var(--blue-10);
  --brand-color-bright: var(--blue-2);

  scrollbar-color: var(--scrollthumb-color) transparent;
  accent-color: var(--brand-color, var(--link-color));
  caret-color: var(--brand-color, var(--link-color));
  color: var(--text-color-1);
  background-color: var(--bg-color-body);

  @media (--OSdark) {
    --brand-color-dim: var(--blue-11);
    --brand-color-bright: var(--blue-3);
  }
}

:where(a[href]) {
  color: var(--brand-color, var(--link-color));

  @media (--OSdark) {
    color: var(--link-color);
  }

  &:where(:visited) {
    color: var(--link-color-visited);

    @media (--OSdark) {
      color: var(--link-color);
    }
  }
}

:focus-visible {
  outline-color: var(--focus-color, var(--link-color));
}
