:where(html) {
  /* text */
  --font-family-body: sans-serif;
  --font-size-body: var(--font-size-0);
  --font-size-h1: var(--font-size-4);
  --font-size-h2: var(--font-size-3);
  --font-size-h3: var(--font-size-2);
  --font-size-h4: var(--font-size-1);
  --font-size-h5: var(--font-size-0);
  --font-weight-body-bold: var(--font-weight-7);
  --font-weight-body: var(--font-weight-4);
  --font-weight-headings: var(--font-weight-7);
  --font-weight-light: var(--font-weight-3);
  --line-height-body: var(--font-lineheight-3);
  --line-height-headings: var(--font-lineheight-1);

  /* colors */
  --text-color-1: var(--gray-12);
  --text-color-2: var(--gray-7);

  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);

  --brand-color: var(--blue-4);
  --brand-color-complementary-dark: var(--blue-11);
  --brand-color-complementary-light: var(--blue-1);
  --accent-color: var(--brand-color);
  --caret-color: var(--brand-color);

  --text-color-body: var(--text-color-1);
  --text-color-headings: var(--text-color-1);
  --bg-color-body: var(--surface-0);
  --focus-color: var(--brand-color);

  --link-color: inherit;
  --link-color-visited: var(--purple-2);

  --positive-color: var(--green-7);
  --negative-color: var(--red-error);

  --scrollthumb-color: var(--gray-7);

  --positive-alert-color: var(--positive-color);
  --positive-alert-bg-color: var(--green-1);
  --positive-alert-bg-close-color: var(--green-2);
  --error-alert-color: var(--negative-color);
  --error-alert-bg-color: var(--red-1);
  --error-alert-bg-close-color: var(--red-2);
  --info-alert-color: var(--black-light);
  --info-alert-bg-color: var(--surface-2);
  --info-alert-bg-close-color: var(--surface-3);

  /* a11y */
  --outline-color: var(--brand-color);
  --outline-offset: 2px; /* less then 2px is not useful when the offset color is the same as the accent color */

  /* inputs */
  --input-radius: var(--radius-2);
}

@media (--OSdark) {
  :where(html) {
    --text-color-1: var(--gray-1);
    --text-color-2: var(--gray-4);

    --surface-0: var(--gray-10);
    --surface-1: var(--gray-9);
    --surface-2: var(--gray-8);
    --surface-3: var(--gray-7);
    --surface-4: var(--gray-6);

    --bg-color-body: var(--surface-1);

    --scrollthumb-color: var(--gray-6);

    --link-color-color-visited: var(--text-color-1);

    --info-alert-color: var(--text-color-2);
  }
}
