:where(table) {
  width: fit-content;
  caption-side: bottom;
  font-size: var(--font-size--1);
  border-collapse: collapse;
}

:where(:is(thead, tbody) tr) {
  border-bottom: var(--border-2);
}

:where(th) {
  color: var(--text-color-2);
  font-weight: var(--font-weight-6);
}

:where(td) {
  max-inline-size: var(--size-content-2);
  text-wrap: pretty;
}

:where(td, th) {
  padding-inline: var(--space-2);
  padding-block: var(--space-3);
}

:where(:is(td, th):not([align])) {
  text-align: left;
}

:where(table tr:hover td) {
  background-color: var(--surface-1);

  @media (--OSdark) {
    background-color: var(--surface-2);
  }

  transition: background-color var(--ease-3) 0.15s;
}

:where(table > caption) {
  max-inline-size: var(--max-inline-size-elements, initial);
  color: var(--text-color-2);
  font-size: var(--font-size--1);
  text-wrap: balance;
  margin-top: var(--space-3);
}
