:where(html) {
  /* 4.5px => 5.0px */
  --space-1: clamp(0.281rem, 0.27rem + 0.05vw, 0.313rem);
  /* 9.0px => 10.0px */
  --space-2: clamp(0.563rem, 0.54rem + 0.11vw, 0.625rem);
  /* 13.5px => 15.0px */
  --space-3: clamp(0.844rem, 0.81rem + 0.16vw, 0.938rem);
  /* 18.0px => 20.0px */
  --space-4: clamp(1.125rem, 1.08rem + 0.22vw, 1.250rem);
  /* 27.0px => 30.0px */
  --space-5: clamp(1.688rem, 1.62rem + 0.33vw, 1.875rem);
  /* 36.0px => 40.0px */
  --space-6: clamp(2.250rem, 2.16rem + 0.43vw, 2.500rem);
  /* 54.0px => 60.0px */
  --space-7: clamp(3.375rem, 3.24rem + 0.65vw, 3.750rem);
  /* 72.0px => 80.0px */
  --space-8: clamp(4.500rem, 4.33rem + 0.87vw, 5.000rem);
  /* 108.0px => 120.0px */
  --space-9: clamp(6.750rem, 6.49rem + 1.30vw, 7.500rem);
  /* 4.5px => 10.0px */
  --space-1-2: clamp(0.281rem, 0.16rem + 0.60vw, 0.625rem);
  /* 9.0px => 15.0px */
  --space-2-3: clamp(0.563rem, 0.43rem + 0.65vw, 0.938rem);
  /* 13.5px => 20.0px */
  --space-3-4: clamp(0.844rem, 0.70rem + 0.71vw, 1.250rem);
  /* 18.0px => 30.0px */
  --space-4-5: clamp(1.125rem, 0.86rem + 1.30vw, 1.875rem);
  /* 27.0px => 40.0px */
  --space-5-6: clamp(1.688rem, 1.40rem + 1.41vw, 2.500rem);
  /* 36.0px => 60.0px */
  --space-6-7: clamp(2.250rem, 1.73rem + 2.61vw, 3.750rem);
  /* 54.0px => 80.0px */
  --space-7-8: clamp(3.375rem, 2.81rem + 2.83vw, 5.000rem);
  /* 72.0px => 120.0px */
  --space-8-9: clamp(4.500rem, 3.46rem + 5.22vw, 7.500rem);
  /* 13.5px => 30.0px */
  --space-3-5: clamp(0.844rem, 0.49rem + 1.79vw, 1.875rem);
  /* 18.0px => 30.0px */
  --space-4-5: clamp(1.125rem, 0.86rem + 1.30vw, 1.875rem);
 
  /* 12.5px => 12.8px */
  --font-size--2: clamp(0.781rem, 0.77rem + 0.03vw, 0.800rem);
  /* 15.0px => 16.0px */
  --font-size--1: clamp(0.938rem, 0.92rem + 0.11vw, 1.000rem);
  /* 18.0px => 20.0px */
  --font-size-0: clamp(1.125rem, 1.08rem + 0.22vw, 1.250rem);
  /* 21.6px => 25.0px */
  --font-size-1: clamp(1.350rem, 1.28rem + 0.37vw, 1.563rem);
  /* 25.9px => 31.3px */
  --font-size-2: clamp(1.620rem, 1.50rem + 0.58vw, 1.953rem);
  /* 31.1px => 39.1px */
  --font-size-3: clamp(1.944rem, 1.77rem + 0.87vw, 2.441rem);
  /* 37.3px => 48.8px */
  --font-size-4: clamp(2.333rem, 2.08rem + 1.25vw, 3.052rem);
  /* 44.8px => 61.0px */
  --font-size-5: clamp(2.799rem, 2.45rem + 1.77vw, 3.815rem);
 
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-4-6);
 
  --size-content-1: 20ch;
  --size-content-2: 45ch;
  --size-content-3: 60ch;
  --size-header-1: 20ch;
  --size-header-2: 25ch;
  --size-header-3: 35ch;
 
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--grid-gutter);
}

.auto-grid {
  --auto-grid-min: var(--size-content-2);

  display: grid;
  column-gap: var(--grid-gutter);
  row-gap: var(--space-3-4);
  grid-template-columns: repeat(
    var(--auto-grid-repeat, auto-fit),
    minmax(min(100%, var(--auto-grid-min)), 1fr)
  );
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.center {
  margin-inline: auto;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:only-child {
    block-size: 100%;
  }

  > * + * {
    margin-block-start: var(--stack-space, var(--space-5));
  }
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--cluster-space, var(--space-3));
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-space, var(--space-6));

  > * {
    /*
     * Applying different flex-grow for each child allows for different
     * proportions, if needed.
     */
    flex-grow: 1;
    /*
     * The calc function produces very large positive or negative number.
     * In case it is negative, this rule will be ignored by the browser.
     * In case it is positive, it grabs an equal amount of space for each child.
     */
    flex-basis: calc(
      (var(--switcher-treshold, var(--size-content-3)) - 100%) *
        999
    );
  }
}
