/* temporary */

.btn-custom {
  --_bg: linear-gradient(var(--indigo-5), var(--indigo-7));
  --_border: var(--indigo-6);
  --_text: var(--indigo-0);
  --_ink-shadow: 0 1px 0 var(--indigo-9);
}

.btn-large {
  --_size: var(--font-size-4);
}

/* samples */

.sample article > h1 {
  font-size: var(--font-size-0);
  margin-block: 1em;
}

.sample article {
  display: grid;
  gap: var(--space-1);
}

.sample article > div {
  display: flex;
  align-items: center;
}

.sample code {
  display: inline-block;
  text-align: end;
  margin-right: var(--space-4);
  inline-size: clamp(10ch, 10ch + 7vw, 30ch);
}

.sample code:first-child {
  inline-size: 20ch;
}

.sample code.value {
  font-size: var(--font-size--2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sample .bg-gray {
  background-color: var(--surface-3);
}
