/* font */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300..700;1,300..700&display=swap");

html {
  --font-family-body: "Raleway", sans-serif;
}

/* temporary */

.btn-custom {
  --_bg-color: var(--green-9);
  --_bg-color-hover: var(--green-8);
  --_bg-color-active: var(--green-10);
  --_text-color: var(--text-color-1-inverse);
}

.btn-large {
  --_font-size: var(--font-size-0);
  padding-block: var(--space-4);
  padding-inline: var(--space-5);
}

/* global demo helpers */

.bg-gray {
  background-color: var(--surface-3);
}

/* controls */
.controls {
  position: sticky;
  top: var(--space-3);
  right: var(--space-3);
  display: flex;
  margin-inline-start: auto;
  width: fit-content;
  margin-block-start: var(--space-3);
  margin-inline-end: var(--space-4);
  background: var(--bg-color-body);
  padding-block: var(--space-3);
  padding-inline: var(--space-2);
  border-radius: var(--radius-default);
  opacity: 0.85;
  --stack-space: var(--space-2);
}

.controls input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

.toc :is(ul, li) {
  list-style: none;
  padding: 0;
}

.anchor {
  position: relative;
  scroll-margin-top: var(--space-5);
}

.anchor-link {
  position: absolute;
  top: 4px;
  width: var(--space-4);
  font-size: var(--font-size-1);
  transform: translateX(calc(-1 * var(--space-4) - 2px));
  text-decoration: none;
  opacity: 0.75;
}

.anchor-link:hover {
  text-decoration: none;
  opacity: 1;
}

/* samples */

.sample article > h1 {
  font-size: var(--font-size-0);
  margin-block: 1em;
}

.sample article {
  display: grid;
  gap: var(--space-1);
}

.sample article > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.sample article .calculated {
  display: flex;
}

.sample code {
  display: inline-block;
  text-align: end;
  margin-right: var(--space-2);
  inline-size: clamp(10ch, 10ch + 7vw, 30ch);
  font-size: var(--font-size--1);
}

.sample code:first-child {
  inline-size: 20ch;
}

.sample code.value {
  display: none;
  font-size: var(--font-size--2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body:has(.controls input:checked) .sample code.value {
  display: block;
}

/* layouts */

.layouts ul {
  list-style: none;
  padding-inline: 0;
  margin-inline: 0;
}

.layouts {
  --flow-space: var(--space-4);
}

.layouts .box {
  --stack-space: var(--space-3);

  padding: var(--space-3);
  border: var(--border-2);
  border-radius: var(--radius-default);
}

.layouts .grid1 {
  --auto-grid-min: 20ch;
}

.layouts .grid2 {
  --auto-grid-min: 17ch;
}

.layouts .grid3 {
  --auto-grid-min: 17ch;
  --auto-grid-repeat: auto-fill;
}

.layouts .stack {
  --auto-grid-min: 20ch;
  --auto-grid-repeat: auto-fill;
}

.layouts .heigher {
  min-height: 30rem;
  border: var(--border-3);
}

.layouts .align-end {
  margin-top: auto;
}

.layouts .switcher {
  max-width: 25ch;
  border: var(--border-3);
}

.layouts .switcher-2 {
  justify-content: center;
  --switcher-space: max(var(--space-3), 5vw);
  --switcher-treshold: var(--size-content-3);
}

.layouts .switcher-2 .box {
  max-width: 20ch;
}

@media (width >= 480px) {
  .layouts .grid {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
  }

  .layouts .grid .item-1 {
    grid-column: span 8;
  }

  .layouts .grid .item-2 {
    grid-column: span 4;
  }

  .layouts .grid .item-3 {
    grid-column: span 3;
  }
}

/* breakpoints */
.breakpoints {
  overflow-x: scroll;
}

/* buttons */

/* tables */

.table-wrapper {
  overflow-x: auto;
}
