/* Source: https://preset-env.cssdb.org/playground/ */

:root {
  /* CSS custom properties should be kept as is */
  --mainColor: #12345678;
}

body {
  /* CSS custom properties should be kept as is */
  color: var(--mainColor);
}

a {
  /* Function color notation should be kept as is */
  color: rgb(0 0 100% / 90%);

  &:hover {
    /* OKLCH should be transpiled */
    color: oklch(40% 0.268735435 34.568626);
  }

  > span {
    color: color-mix(in oklch, cyan, green 25%);
  }

  @media (prefers-color-scheme: dark) {
    color: oklab(from oklab(54.3% -22.5% -5%) calc(1 - l) calc(a * 0.8) b);
  }
}

/* No transpilation for logical units and properties */
aside {
  margin-block-start: 1rem;
  margin-block-end: 2rem;
  margin-inline-start: 3rem;
  margin-inline-end: 4rem;
  width: 10vi;
  height: 20vb;
}

@custom-media --tablet (48rem <= width < 64rem);

@media (--tablet) {
  :is(input, button):is(:hover, :focus) {
    /* Is transpiled/shortened by cssnano */
    color: rebeccapurple;
  }
}

/* Should be transpiled using css file with @custom-media rules form open-props */
@media (--lg-n-above) {
  body {
    font-size: clamp(1rem, calc(0.8rem + 0.2vw), 2rem);
  }
}
